.mui-row {
    background: #fff;
    color: #666;
}

.cart {
    padding: 2rem;
    position: relative;
}

.cart .header {
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    text-align: center;
    line-height: 4.2rem;
    background: #fff;
    font-size: 1.5rem;
}

.cart .row {
    border-bottom: 1px solid #f0f0f0;
}
.cart .list{
    margin-bottom: 7rem;
}
.cart .list .desc {
    padding: 1.5rem 0;
    position: relative;
    height: 13rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.cart .list .desc .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cart .list .desc.descCheck .checkbox {
    background: url(../../imgs/checkbox_round_0.png);
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background-size: 100%;
    transition: all 0.3s;
}

.cart .list .desc.descCheck .checkbox.check {
    background: url(../../imgs/checkbox_round_1.png);
    background-size: 100%;
}

.cart .list .desc.descGoods {
    padding-left: 12rem;
}

.cart .list .desc.descGoods .icon {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    left: 0;

}

.cart .list .desc.descGoods .info {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 2rem;
}

.cart .list .desc.descGoods .type {
    position: absolute;
    left: 12rem;
    bottom: 2rem;
    color: #999;
}

.cart .list .desc.number .num {
    display: inline-block;
    border: 0.1rem #e0e0e0 solid;
    border-radius: 0.3rem;
}

.cart .list .desc.number .num input {
    float: left;
    height: 3rem;
    color: #666;
    border: none;
    margin: 0;
}

.cart .list .desc.number .num input[type="button"] {
    width: 3rem;
    font-size: 1.6rem;
}

.cart .list .desc.number .num input[type="number"] {
    width: 8rem;
    text-align: center;
    border: 0.1rem #e0e0e0 solid;
    border-top: none;
    border-bottom: none;
    font-size: 1.5rem;
}

.cart .list .desc.price {
    color: #FC3E51;
}

.cart .bottom {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    line-height: 6rem;
    height: 6rem;
    border-top: 0.1rem solid #f0f0f0;
    padding: 0 2rem;
}

.cart .bottom .left,
.cart .bottom .right {
    flex: 50%;
    color: #666;
    font-size: 2rem;
}

.cart .bottom .left {
    padding-left: 14rem;
}

.cart .bottom .left .btns {
    display: inline-block;
}

.cart .bottom .left .btns span {
    display: inline-block;
    line-height: 3rem;
    margin-right: 2rem;
    transition: 0.3s all;
}

.cart .bottom .left .btns span:active {
    opacity: 0.7;
}

.cart .bottom .left .checkbox {
    background: url(../../imgs/checkbox_round_0.png) no-repeat;
    width: 4rem;
    height: 3rem;
    display: inline-block;
    background-size: auto 100%;
    transition: all 0.3s;
    top: 1.5rem;
    left: 5rem;
    position: absolute;
}

.cart .bottom .left .checkbox.check {
    background: url(../../imgs/checkbox_round_1.png) no-repeat;
    background-size: auto 100%;
}

.cart .bottom .left .checkbox text {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 3rem;
    transform: translateX(100%);
    /* padding-left: 1rem; */

}

.cart .bottom .right {
    text-align: right;
    font-size: 1.5rem;
    position: relative;
}

.cart .bottom .right .inner{
    padding-right: 11rem;
}
.cart .bottom .right .inner b{
    color: #FC3E51;
}
.cart .bottom .right .submit{
    position: absolute;
    right: 0rem;
    line-height: 4rem;
    top: 1rem;
    background: #FC3E51;
    color: #fff;
    padding: 0 3rem;
    border-radius: 0.3rem;
    transition: 0.5s all;
}
.cart .bottom .right .submit:active{
    opacity: 0.7;
}